
/*ホームアイコン*/
.HOME{
    min-height: 7vh;
}
.HOME img{
    position: fixed;
    left: 93%;
    z-index: 1000;
    border-radius:70%;
    border: 2px solid black;
    /*box-shadow: 3px 3px 0 0 rgba(166, 166, 166, 0.765);*/
}


/*トップページ*/
.HERO{
    min-height: 100vh;
}
.HERO .back_01{/*背景黄色*/
    position: absolute;
    left: 2%;
    top: 7%;
    z-index: -2;
    background-color: rgb(255, 255, 84, 0.759);
    border-radius: 5px;
    height: 600px;
    width: 1300px;
    background-image:radial-gradient(#afafaf74 20%, transparent 30%);
    background-size: 20px 20px;
}
.HERO .back_02{/*背景赤*/
    position: absolute;
    left: 7%;
    margin-top: 80px;
    z-index: -2;
    background-color: rgb(255, 45, 68);
    border-radius: 5px;
    height: 600px;
    width: 1300px;
}
.HERO .back_03{/*背景紫*/
    position: absolute;
    left: 5.5%;
    margin-top: 60px;
    z-index: -2;
    background-color: rgb(136, 45, 255);
    border-radius: 5px;
    height: 600px;
    width: 1300px;
}
.HERO .back_main{/*テキスト背景*/
    position: absolute;
    left: 3.5%;
    top: 13%;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(0, 0, 0, 0.798);
    border-radius: 3px;
    height: 600px;
    width: 1300px;
}
.HERO .back_main .PORTFOLIO{/*テキスト*/
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.HERO .back_main img{/*ロゴ*/
    position: absolute;
    left: 40%;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 20%;
}
.HERO .back_main .top_text{/*テキスト位置*/
    position: absolute;
    z-index: 100;
    left: 30%;
    margin-top: 320px;
    font-size: 45px;
    text-decoration: none;
}
.HERO .back_main a{/*装飾*/
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
.HERO .back_main a:visited{/*訪問後文字色*/
    color: rgb(0, 0, 0);
}
.HERO .back_main a:hover{/*マウスホバー装飾*/
   color: rgb(255, 255, 255);
   text-shadow: 2px 2px 2px rgb(0, 0, 0);
}


